/* style for comments */
.comment {
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 9px rgba(200, 200, 200, .4);
}
.comment h4,
.comment span {
    display: inline
}
.comment p,
.comment span {
    color: rgb(82, 79, 79)
}
.form-group textarea {
    max-width: 30rem;
    height: 10em;
    border-radius: 12px
}
.text-small {
    font-size: 13px;
}
#reply {
    float: right;
}
#reply::after {
    content: "";
    clear: both;
    display: table;
}