{% extends 'base.html' %}
{% load static %}

{% block title %} Tomar | Home {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'blog/styles/main.css' %}">
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
    <header>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/static/blog/images/anete-lusina-zwsHjakE_iI-unsplash.jpg')">
              <div class="carousel-caption">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h1 class="display-1 text-black">Read posts from other users</h1>
                </div>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('/static/blog/images/aaron-burden-y02jEX_B0O0-unsplash.jpg')">
                <div class="carousel-caption">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <h1 class="display-1">Share what you know by writing posts</h1>
                    </div>
                  </div>
            </div>
            <div class="carousel-item" style="background-image: url('/static/blog/images/nordwood-themes-yyMJNPgQ-X8-unsplash.jpg')">
                <div class="carousel-caption">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <h1 class="display-1">Connect with other users</h1>
                    </div>
                  </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </header>
    {% else %}
    <div class="container pt-5">
        <h1>List of people the user is follwing</h1>
        <hr>
    </div>
    {% endif %}

    <div class="container">
        <h1 class="my-4 mt-5 mb-5">Read most popular posts</h1>
        {% for post in posts %}
        <div class="row mb-5 mt-5">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <h3> <a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a href="{% url 'blog:post-detail' post.slug %}" class="btn btn-outline-primary">Continue Reading</a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'blog/images/300x200.png' %}" alt="">
                </a>
            </div>
            <div>
              <hr class="col-sm-12 col-md-12 col-lg-8 mt-5 mb-5">
            </div>
        </div>
        {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span class="sr-only">Next</span>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}