{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'blog/styles/main.css' %}">
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                        {{ post.date_posted|date:"F m, Y"}} by <a href="{% url 'account:profile' %}">{{ post.user.username }}</a>
                    </div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category.name }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'blog/images/post-large.jpg' %}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p>{{ post.content }}</p>
                </section>
            </article>
        </div>
    </div>
</div>
{% endblock %}
