{% extends "base.html" %}
{% load static %}

{% block title %} Password Reset sent {% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'accounts/styles/main.css' %}" />
{% endblock %} 

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title mb-4 fw-light fs-5">Password reset sent</h5>
          <hr class="my-4" />
          <p>
            An email with instructions on how to reset your password has been sent to the email address you provide. Check your inbox.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
