{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} Tomar Author - {{ user.display_name|capfirst }} {% endblock %}

{% block main %}
<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="msg">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
				{% endfor %}
			{% endif %}
			<div>
				<div class="row post-top-meta authorpage">
					<div class="col-md-8 col-xs-12">
						{% if user.first_name %}
							<h3>{{ user.get_full_name }}</h3>
						{% else %}
							<h3>{{ user.display_name }}</h3>
						{% endif %}

						<span class="author-description">{{ user.profile.bio }}</span> <br>
						{% csrf_token %}
						{% if request.user.display_name == user.display_name %}
							<a href="{% url 'accounts:profile-update' user.display_name %}" class="btn follow btn-primary">Update</a>
						{% elif request.user in user.profile.followers_list %}
							<button class="btn btn-outline-primary follow follow-btn" value="{{ user.pk }}" style="cursor: pointer;">Following</button>
						{% else %}
							<button class="btn btn-primary follow follow-btn" value="{{ user.pk }}" style="cursor: pointer;">Follow</button>
						{% endif %}
						<a href="{% url 'accounts:about-user' user.display_name %}" class="btn follow btn-outline-primary">About</a>
					</div>
					<div class="col-md-4 col-xs-12">
						<p class="text-center">
							<img class="author-thumb" src="{{ user.profile.avator.url }}" alt="{{ user.display_name }}">
						</p>
						<p class="text-small text-center text-primary">
							<span><strong>{{ user.profile.followers_list|length }}</strong> Followers</span>
							<span class="dot"></span>
							<span><strong>{{ user.profile.following_list|length }}</strong> Following</span>
						</p>
					</div>


					<div class="container">
						<ul class="nav nav-tabs" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#post">Posts</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#follower">Followers</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#following">Following</a>
						  </li>
						</ul>
					  
						<!-- Tab panes -->
						<div class="tab-content">
						  <div id="post" class="container tab-pane active"><br>
							<div class="graybg authorpage">
								<!-- Begin Author Posts
							  ================================================== -->
							  <div class="container">
								  <div class="listrecent listrelated">

								  {% for post in user_posts %}
								  <div class="authorpostbox">
									  <div class="card">
										  <a href="{% url 'blog:post-detail' post.slug %}">
										  <img class="img-fluid img-thumb" src="{{ post.image.url }}" alt="{{ post.title }}">
										  </a>
										  <div class="card-block">
											  <h2 class="card-title"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
											  <h4 class="card-text">{{ post.summary }}</h4>
											  <div class="metafooter">
												  <div class="wrapfooter">
													  <span class="meta-footer-thumb" >
													  <a href="{% url 'accounts:profile' user.display_name %}"><img class="author-thumb" src="{{ user.profile.avator.url }}" alt="{{ user.display_name }}"></a>
													  </span>
													  <span class="author-meta">
													  <span class="post-name"><a href="{% url 'accounts:profile' user.display_name %}">{{ user.display_name }}</a></span><br/>
													  <span class="post-date">{{post.date_posted|date:"F d, Y" }}</span><span class="dot"></span><span class="post-read">{{ post.content|readtime }}</span>
													  </span>
													  {% if request.user == post.author %}
													  <span class="post-action">
														  <a href="{% url 'blog:post-update' post.slug %}"><i class="fas fa-edit fa-lg"></i></a> &nbsp;
														  <a class="trash-icon" href="{% url 'blog:post-delete' post.slug %}"><i class="fas fa-trash fa-lg"></i></a>
													  </span>
													  {% else %}
													  <span class="post-read-more">
														  {% csrf_token %}
														  <button class="bookmark-icon" style="all: unset;cursor: pointer;" value="{{ post.pk }}">
														  {% if post in saved_posts %}
															  <i class="fas fa-bookmark fa-lg"></i>
														  {% else %}
															  <i class="far fa-bookmark fa-lg"></i>
														  {% endif %}
														  </button>
													  </span>
													  {% endif %}
												  </div>
											  </div>
										  </div>
									  </div>
								  </div>
								  {% endfor %}

								  </div>
							  </div>
							  </div>
							  <!-- End Author Posts
							  ================================================== -->
						  </div>
						  <div id="follower" class="container tab-pane fade"><br>
							<div class="container mt-3">
								<div class="d-flex justify-content-start row" >
									<div class="col-lg-8" >
										<div class="bg-white text-center">
											{% if user.profile.followers_list %}
												<!-- <hr> -->
												{% for follower in user.profile.followers_list %}
												<div class="d-flex flex-row justify-content-between align-items-center mb-2">
													<div class="d-flex flex-row align-items-center">
														<a href="{% url 'accounts:profile' follower.display_name %}"><img class="rounded-circle" src="{{ follower.profile.avator.url }}" width="55"></a>
														<div class="d-flex flex-column align-items-start ml-2">
															<a href="{% url 'accounts:profile' follower.display_name %}"><span class="font-weight-bold">{{ follower.get_display_name }}</span></a>
															<span class="followers">{{ follower.profile.followers_list|length }} Followers</span>
														</div>
													</div>
													<div class="d-flex flex-row align-items-center mt-2">
														{% if request.user in follower.profile.followers_list %}
															<button class="btn btn-outline-primary follow follow-btn" value="{{ follower.pk }}" style="cursor: pointer;">Following</button>
														{% else %}
															<button class="btn btn-primary follow follow-btn" value="{{ follower.pk }}" style="cursor: pointer;">Follow</button>
														{% endif %}
													</div>
												</div> <hr>
												{% endfor %}
											{% else %}
												{% if request.user == user %}
													<p>You don't have any followers yet.</p>
												{% else %}
													<p>{{ user.get_display_name }} has no followers yet.</p>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						  </div>
						  <div id="following" class="container tab-pane fade"><br>
							<div class="container mt-3">
								<div class="d-flex justify-content-start row">
									<div class="col-lg-8">
										<div class="bg-white text-center">
											{% if user.profile.following_list %}
												<!-- <hr> -->
												{% for following in user.profile.following_list %}
												<div class="d-flex flex-row justify-content-between align-items-center mb-2">
													<div class="d-flex flex-row align-items-center">
														<a href="{% url 'accounts:profile' following.display_name %}"><img class="rounded-circle" src="{{ following.profile.avator.url }}" width="55"></a>
														<div class="d-flex flex-column align-items-start ml-2">
															<a href="{% url 'accounts:profile' following.display_name %}"><span class="font-weight-bold">{{ following.get_display_name }}</span></a>
															<span class="followers">{{ following.profile.followers_list|length }} Followers</span>
														</div>
													</div>
													<div class="d-flex flex-row align-items-center mt-2">
														{% if request.user in following.profile.followers_list %}
															<button class="btn btn-outline-primary follow follow-btn" value="{{ following.pk }}" style="cursor: pointer;">Following</button>
														{% else %}
															<button class="btn btn-primary follow follow-btn" value="{{ following.pk }}" style="cursor: pointer;">Follow</button>
														{% endif %}
													</div>
												</div> <hr>
												{% endfor %}
											{% else %}
												{% if request.user == user %}
													<p>You aren't following anybody.</p>
												{% else %}
													<p>{{ user.get_display_name }} isn't following anybody.</p>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						  </div>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->

{% include "footer.html" %}

{% block page_js %}
	<script>
		setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').remove();
		}
		}, 3000)
  </script> 
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{% static 'blog/scripts/main.js' %}"></script>
	<script src="{% static 'accounts/scripts/follow.js' %}"></script>
{% endblock %}

{% endblock %}
