{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %} 

{% block title %} Login to Tomar {% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'account/styles/main.css' %}" />
{% endblock %} 

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
          <form method="POST"> {% csrf_token %} 
            {{ form|crispy }}
  
            <div class="text-right mb-3">
              <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-block" type="submit"> Sign in </button>
            </div>
            <hr class="my-4" />
            <br />
            <div class="text-center">
              Don't have an account?
              <a href="{% url 'account:signup'%}">Create One</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
