{% extends "base.html" %}
{% load static %}
{% block title %} Tomar Author - {{ user.username }} {% endblock %}

{% block main %}
<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>{{ user.username }}</h1>
						<span class="author-description">{{ user.profile.bio }}</span> <br>
						<!-- <div class="sociallinks"><a  target="_blank" href="https://www.facebook.com/wowthemesnet/"><i class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank" href="https://plus.google.com/s/wowthemesnet/top"><i class="fa fa-google-plus"></i></a></div> -->
						<a href="#" class="btn follow">Follow</a>
					</div>
					<div class="col-md-2 col-xs-12">
						<img class="author-thumb" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

				<!-- begin post -->
				{% for post in user_posts %}
				<div class="authorpostbox">
					<div class="card">
						<a href="{% url 'blog:post-detail' post.slug %}">
						<img class="img-fluid img-thumb" src="{{ post.image.url }}" alt="">
						</a>
						<div class="card-block">
							<h2 class="card-title"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
              				<h4 class="card-text">{{ post.summary }}</h4>
            				<div class="metafooter">
								<div class="wrapfooter">
									<span class="meta-footer-thumb" >
									<a href="{% url 'account:profile' user.username %}"><img class="author-thumb" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}"></a>
									</span>
									<span class="author-meta">
									<span class="post-name"><a href="{% url 'account:profile' user.username %}">{{ user.username }}</a></span><br/>
									<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
									</span>
									{% if request.user == post.user %}
									<span class="post-read-more">
										<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-update' post.slug %}">Update</a>
										<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-delete' post.slug %}">Delete</a>
									</span>
									{% else %}
										<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- end post -->
		</div>
	</div>
</div>
<!-- End Author Posts
================================================== -->

{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}
