{% extends "base.html" %}
{% load static %}
{% block title %} Tomar Author - {{ user.username }} {% endblock %}

{% block main %}
<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-8 col-xs-12">
						{% if user.first_name != "" %}
							<h3>{{ user.get_full_name }}</h3>
						{% else %}
							<h3>{{ user.username }}</h3>
						{% endif %}

						<span class="author-description">{{ user.profile.bio }}</span> <br>

						{% if request.user.username == user.username %}
							<a href="{% url 'account:profile-update' user.username %}" class="btn follow btn-primary">Update</a>
						{% else %}
							<a href="#" class="btn follow btn-primary">Follow</a>
						{% endif %}
						<a href="{% url 'account:about-user' user.username %}" class="btn follow btn-outline-primary">About</a>
					</div>
					<div class="col-md-4 col-xs-12">
						<p class="text-center">
							<img class="author-thumb" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}">
						</p>
						<p class="text-small text-center text-primary">
							<span><a href="#">84k Followers</a></span><span class="dot"></span><span><a href="#">143 Following</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

		<!-- begin post -->
		{% for post in user_posts %}
		<div class="authorpostbox">
			<div class="card">
				<a href="{% url 'blog:post-detail' post.slug %}">
				<img class="img-fluid img-thumb" src="{{ post.image.url }}" alt="">
				</a>
				<div class="card-block">
					<h2 class="card-title"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
					<h4 class="card-text">{{ post.summary }}</h4>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb" >
							<a href="{% url 'account:profile' user.username %}"><img class="author-thumb" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="{% url 'account:profile' user.username %}">{{ user.username }}</a></span><br/>
							<span class="post-date">{{post.date_posted|date:"F d, Y" }}</span><span class="dot"></span><span class="post-read">{{ post.content|readtime }}</span>
							</span>
							{% if request.user == post.author %}
							<span class="post-action">
								<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-update' post.slug %}">Edit</a>
								<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-delete' post.slug %}">Delete</a>
							</span>
							{% else %}
								<span class="post-read-more"><a href="#" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
				<!-- end post -->
		</div>
	</div>
</div>
<!-- End Author Posts
================================================== -->

{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}
