{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} Category {% endblock %}

{% block main %}
<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">
		<!-- begin post -->
		<h3 class="col-lg-8 mx-auto mb-5">{{ category_posts.0.category.name }} ({{ category_posts|length }}) </h3>
		{% for post in category_posts %}
		<div class="authorpostbox">
			<div class="card">
				<a href="{% url 'blog:post-detail' post.slug %}">
				<img class="img-fluid img-thumb" src="{{ post.image.url }}" alt="">
				</a>
				<div class="card-block">
					<h2 class="card-title"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
					<h4 class="card-text">{{ post.summary }}</h4>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb" >
							<a href="{% url 'accounts:profile' post.author.display_name %}"><img class="author-thumb" src="{{ post.author.profile.avator.url }}" alt="{{ post.author.display_name }}"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="{% url 'accounts:profile' post.author.display_name %}">{{ post.author.get_display_name }}</a></span><br/>
							<span class="post-date">{{post.date_posted|date:"F d, Y" }}</span><span class="dot"></span><span class="post-read">{{ post.content|readtime }}</span>
							</span>
							{% if request.user == post.author %}
							<span class="post-action">
								<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-update' post.slug %}">Edit</a>
								<a class="btn btn-sm btn-outline-primary" href="{% url 'blog:post-delete' post.slug %}">Delete</a>
							</span>
							{% else %}
							<span class="post-read-more">
								{% csrf_token %}
								<button class="bookmark-icon" style="all: unset;cursor: pointer;" value="{{ post.pk }}">
								{% if post in saved_posts %}
									<i class="fas fa-bookmark fa-lg"></i>
								{% else %}
									<i class="far fa-bookmark fa-lg"></i>
								{% endif %}
								</button>
							</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- end post -->
		</div>
	</div>
</div>
<!-- End Author Posts
================================================== -->

{% include "footer.html" %}

{% block page_js %}
	<script>
		setTimeout(function(){
		if ($('#msg').length > 0) {
			$('#msg').remove();
		}
		}, 3000)
    </script> 
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{% static 'blog/scripts/main.js' %}"></script>
  
{% endblock %}

{% endblock %}
