{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %} 

{% block title %} Update posts {% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'accounts/styles/main.css' %}" />
  <style>
    body {
      background: #ebebeb;
    }
  </style>
{% endblock %} 

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5" style="box-shadow: 0 0 10px rgba(71, 71, 71, 0.4);">
          <h5 class="card-title text-center mb-4 fw-light fs-5">Update your post</h5>
          <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
  
            <div class="d-grid mt-5">
              <button class="btn btn-primary" type="submit">Update Post </button>
              <a class="btn btn-secondary" href="{% url 'blog:post-detail' post.slug %}">Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}
