{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load post_read_time %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'styles/blogdetail.css' %}"/>
{% endblock %}
{% block title %} Profile {% endblock %}

{% block main %}
    {% if request.user.is_authenticated %}
        {% include "navbar.html" %}
    {% else %}
        {% include "navbar-visitor.html" %}
    {% endif %}

    <section class="container mama">
        <div class="row pt-4">
            <div class="col-2">

            </div>
            <div class="col-6 maincontent">
                <div class="thedetail">
                    <div class="blogheader">
                        <div class="blogprofile">
                            <div class="imgcontainer">
                                <img src="{% static 'assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %}" alt="">
                            </div>        
                            <div class="textprofile">
                                <div class="username">
                                    John Doe
                                </div>
                                <div class="profession">
                                    Author
                                </div>
                            </div>                    
                        </div>
                        <div class="blogbtns">
                            <button><img src="{% static 'assets/blog-detail/MDI - thumb-up-outline.png' %}" alt=""></button>
                            <button><img src="{% static 'assets/blog-detail/bookmark-plus.png' %}" alt=""></button>
                            <button><img src="{% static 'assets/blog-detail/three-dots.png' %}" alt=""></button>
                        </div>
                    </div>
                    <div class="blogmeta">
                        <a href="#" class="category-btn">{{ post.category.name }}</a>
                        <span>{{post.date_posted|date:"M j" }}</span><span class="dot"></span><span>{{ post.content|readtime }}</span>
                        {% if request.user == post.author %}
                        <span class="sep">|</span>
                        <div class="post-action">
                            <a href="{% url 'blog:post-update' post.slug %}" class="category-btn">Edit</a>
                            <a href="{% url 'blog:post-delete' post.slug %}" class="category-btn">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="blogtitle">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="blogimg">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="blogdescription">{{ post.content|safe }}</div>
                </div>
                <div class="relatedblogs">
                    <p>Related posts</p>
                    <div class="relatedblogcon">
                        <div class="oneblog">
                            <div class="imageside">
                                <div class="profilebox">
                                    <div class="profile">
                                        <div class="profileimage">
                                            <img src="{% static 'assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %}" alt="">
                                        </div>
                                        <span class="username">John Doe</span>
                                    </div>
                                    <div class="profilebuttons">
                                        <button class="probtn firstbtn"><img src="{% static 'assets/bookmark-plus.svg' %}" class="firstbutton" alt=""></button>
                                        <button class="probtn secondbtn"><img src="{% static 'assets/Path 3.svg' %}" alt=""></button>
                                    </div>
                                </div>
                                <img src="{% static 'assets/carson-masterson-QqmsN-dv9d8-unsplash.jpg' %}" class="imagebox" alt="">
                            </div>
                            <div class="contentside">
                                <div class="blogtitle">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed                            </div>
                                <div class="blogcontent">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                                </div>
                                <div class="blogfooter">
                                
                                        <span>date</span>
                                        <span>3 min read</span>
                                        <div class="numberofviews">
                                            <img src="{% static 'assets/eye.svg' %}" alt="">
                                            <span>423</span>
                                        </div>
                                        <div class="numberoflikes">
                                            <img src="{% static 'assets/eye.svg' %}" alt="">
                                            <span>424</span>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4 sidecontent">
                <div class="tofollow">
                    <span>Blogers for you</span>
                    <div class="blogers">
                        <div class="onebloger">
                            <div class="blogerleft">
                                <div class="blogerimg">
                                    <img src="{% static 'assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg' %}" alt="">
                                </div>
                                <div class="blogerprofile">
                                    <div class="username">
                                        Alfred John
                                    </div>
                                    <div class="profession">
                                        Noble writer
                                    </div>
                                </div>
                            </div>
                            <button>
                                Follow
                            </button>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <span>Recommended categories</span>
                    <div class="categorycontainer">
                        <button>
                            Science
                        </button>
                    </div>
                </div>
                <div class="footer">
                    <footer>
                        <div class="upperfooter">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Terms</a></li>
                            </ul>
                        </div>
                        <div class="dropdown lowerfooter">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                              Language
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <li><button class="dropdown-item" type="button">አማርኛ</button></li>
                              <li><button class="dropdown-item" type="button">English</button></li>
                            </ul>
                          </div>
                </footer>
                </div>
            </div>
        </div>
    </section>
    

    <script>
        
        /* When the user  clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            // alert('you cllicked ot.');
            console.log('still good')
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
        }
    </script>
{% endblock %}