{% extends "base.html" %}
{% load static %}
{% load post_read_time %}

{% block title %} Saved Posts {% endblock %}

{% block main %}


<!-- Begin Author Posts
================================================== -->
<div class="graybg authorpage">
	<div class="container">
		<div class="listrecent listrelated">

		<!-- begin post -->
		{% for post in saved_posts %}
		<div class="authorpostbox">
			<div class="card">
				<div class="card-block">
					<h2 class="card-title"><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h2>
					<h4 class="card-text">{{ post.summary }}</h4>
					<div class="metafooter">
						<div class="wrapfooter">
							<span class="meta-footer-thumb" >
							<a href="{% url 'account:profile' post.author.username %}"><img class="author-thumb" src="{{ post.author.profile.profile_picture.url }}" alt="{{ user.display_name }}"></a>
							</span>
							<span class="author-meta">
							<span class="post-name"><a href="{% url 'account:profile' user.display_name %}">{{ post.author.username }}</a></span><br/>
							<span class="post-date">{{post.date_posted|date:"F d, Y" }}</span><span class="dot"></span><span class="post-read">{{ post.content|readtime }}</span>
							</span>
                            <span class="post-read-more">
                                <a href="{% url 'blog:bookmark' post.slug %}">
                                    {% if request.user in post.bookmark.all %}
                                    <i class="fas fa-bookmark fa-lg"></i> 
                                    {% else %}
                                    <i class="far fa-bookmark fa-lg"></i>
                                    {% endif %}
                                </a>
                            </span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
				<!-- end post -->
		</div>
	</div>
</div>
<!-- End Author Posts
================================================== -->

{% endblock %}

