/* for image slider */
.carousel-item {
    height: 89.8vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .post-title {
    color: black;
    text-decoration: none;
  }
  
  .post-title:hover{
    color: #3b5998;
    text-decoration: underline;
  }
