<footer>
        
	<div class="upperfooter">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Blogs</a></li>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Terms</a></li>

		</ul>
	</div>
	<div class="dropdown lowerfooter">
		<button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
		  Language
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		  <li><button class="dropdown-item" type="button">አማርኛ</button></li>
		  <li><button class="dropdown-item" type="button">English</button></li>
		</ul>
	  </div>

</footer>