{% load static %}

<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container">
        <a href="{% url 'blog:post-list' %}" class="navbar-brand logo"><img src="{% static 'assets/icons/Layer 2.svg' %}" alt=""></a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto ulflex">
                <li class="nav-item">
                    <form action="#">
                        <div class="searchboxcontainer">
                            <input type="search" id="search" class="searchbox" placeholder="Search blogs...">
                            <button type="submit" class="searchbtn">
                                <img src="{% static 'assets/icons/Icon awesome-search.svg' %}"></img>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a href="{% url 'blog:post-create' %}">
                        <div class="addarticlebtn">
                            <img src="{% static 'assets/icons/Group 95.svg' %}"></img>
                        </div>
                        
                    </a>
                </li>
                <li class="nav-item">
                    <ul class="ulflexinner">
                        <li><a href="message.html">
                            <img src="{% static 'assets/icons/MDI - chat-processing-outline.svg' %}" class="icon1 position-relative"></img>
                        </a></li>
                        <li><a href="{% url 'accounts:saved' user.display_name %}">
                            <img src="{% static 'assets/icons/MDI - bookmark-multiple-outline.svg' %}" class="icon2"></img>
                        </a></li>
                        <li><a href="notification.html">
                            <img src="{% static 'assets/icons/MDI - bell-outline.svg' %}" class="icon3"></img>
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a  onclick="myFunction()"><img src="{% static 'assets/Ellipse 12@2x.png' %}" class="profileimg dropbtn"></img></a>
                        <div class="dropdown-content" id="myDropdown">
                          <a href="{% url 'accounts:profile' user.display_name %}"><img src="{% static 'assets/icons/MDI - account-outline.svg' %}" alt=""> Profile</a>
                          <a href="{% url 'accounts:saved' user.display_name %}"><img src="{% static 'assets/icons/MDI - bookmark-multiple-outline.svg' %}" alt=""> Saved</a>
                          <a href="{% url 'accounts:settings' user.display_name %}"><img src="{% static 'assets/icons/MDI - cog-outline.svg' %}" alt=""> Settings</a>
                          <a href="{% url 'accounts:logout' %}">Sign out</a>
                        </div>
                      </div>
                </li>
            </ul>
        </div>            
    </div>
</nav>