nav{
    box-shadow: 0px 3px 6px #E8E8E8;
    height: 80px;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 36px;
}
.logo:hover{
    color:black;
}
.logospan{
    color: #00A8FF;
}
.searchboxcontainer{
    border:0;
    background: #f6f6f6;
    width: 310px;
    height: 51px;
    border-radius:26px;
    padding: 12px 15px;

}
.searchbox{
    border: none;
    background: none;
    outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.searchbtn{
    padding: 0;
    border: none;
    background: none;
    float: right;
}
.searchbtn img{
    width: 26px;
    height: 26px;
}
.ulflex{
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.ulflexinner{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 194px;
    height: 51px;
    background: #f6f6f6;
    border-radius: 26px;
}
.ulflexinner li{
    list-style-type: none;
}
.ulflexinner li a{
    padding:0;
}
.ulflexinner li a .icon1{
    width: 39.11px;
    height: 39.11px;
}
.ulflexinner li a .icon2{
    width: 24.1px;
    height: 29.45px;
}
.ulflexinner li a .icon3{
    width: 40px;
    height: 40px;
}
.addarticlebtn{
    width: 51px;
    height: 51px;
    background: #f6f6f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addarticlebtn img{
    width: 19.6px;
    height: 19.6px;
}
.profileimg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* Footer style */
footer{
    background-color: rgb(51, 50, 50);
    color: white;
}
